/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */

@font-face {
    font-family: Mont-SemiBold;
    src: url(/assets/Mont-SemiBold.woff2);
}

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mont-SemiBold', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
}

/*  start header section */
.header{
    background: #E85F5C;
    color: #F6F8F3;

}

.container{
    max-width: 1196px;
    /* width: 100%; */
    /* min-height: ; */
    margin: 0 auto;
    padding: 0 20px;

}
/*  start header section */
.flex_header{
    max-width: 100%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.header_items.text{
    padding-right: 185px;
}
.header_items,.rg_btn,.txt{
   
    font-size: 12px;
    padding: 18px 0 ;
}
.header_items .rg_btn {
   
    background: #F6F8F3;
}
.header_items .rg_btn ,.txt{
    
    color:#E85F5C ;
    padding: 6px 9px;
    text-align: center;
}
.header_items a{
    text-decoration: none;
    color: #F6F8F3;
}
.header_items a:hover{
    text-decoration: underline;
}

/* header section end */

/* start navigation bar section */
.navigation_bar{
    background: #F6F8F3;

}
.nav_bar{
    max-width: 100%;
    background: #F6F8F3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_content ul{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    
}
.nav_content  li{
    padding: 36px 0;
    margin-left: 75px;
    list-style: none;
   
    cursor: pointer;
}
.nav_items{
    flex-shrink: 0;
}
.nav_content li:hover{
    text-decoration: underline;
}
.nav_content  li:last-child{
    margin-right: 75px;
}
svg.search_icon,svg.cart,svg.menu :hover{
    
    cursor: pointer;
}

svg.cart{
    padding-right: 12px;
}
 svg.menu{
    padding-bottom: 3px;
}
/*  section navigation bar */
/* section footer  */
.s9_footer{
    background: #F6F8F3;
}
.class_footer .column{
    
    display: grid;
     grid-template-columns:2.14fr 1fr 1fr 2fr;
   
   margin: 99px 0 57px 0;
}

.column h4{
    padding-bottom: 42px;
    margin: 0;
}

.col_1 img{
    max-width: 205px;
    /* margin-top: 10px; */
}

.col_1_content{
    padding-top: 34px;
    margin: 0;

}
.col_1 .col_1_content h6{
   
    padding-right:  208px ;
   
}
.col_1_content a{
    text-decoration: none;
    color: black;
    font-family: 'Hind';
    font-weight: 400;
    font-size: 12px;
    line-height: 2.5;
}
.col_2 a,.col_3 a{
    display: grid;
    margin-bottom: 20px;
    font-family: 'Hind';
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: black;
    text-decoration: none;
}


.col_2 a:hover,.col_3 a:hover ,.col_1_content a:hover{
    text-decoration: underline;
}

.col_2 ,.col_3,.col_4 h4{
   
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    
    color: #7692FF;
    
}
.col_4 p{
    font-family: 'Hind';
    font-weight: 400 !important;
    font-size: 12px;
    margin: 0;
}

.class_mail{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.s9_footer{
    border-top: 1px solid #E85F5C;

     border-bottom: 1px solid #8E8E8E;;
}
.footer_mail {
    text-align: left;
    width: 65%;
    border-bottom: 1px solid #000000;
}

.subscribe_btn {
    
    font-size: 12px;
    font-weight: 800;
    line-height: 2;
    border-bottom: 1px solid #000000;
}
.footer_icon{
   margin-top: 43px;
    
}

.footer_icon svg{
    padding-right: 24px;
}

/*  section footer end */

/* section mini footer mail ,policy and conditions */
.mini_footer {
    background: #F6F8F3;
}
.mail_policy{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.mini_footer_mail{
    line-height: 1;

}
.mini_footer_mail span{
    font-weight: 600;
}
.mail_policy .class_policy ,.mini_footer_mail{

    font-family: 'Hind';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: right;

}
/* section mini footer mail ,policy and conditions(mini footer) end */

    /* start  media queries */

    @media screen and (max-width:980px) {

        /* section navigation bar */
        .nav_bar{
            max-width: 100%;
            margin: 0 auto;
            
        }
        .nav_content ul{
            font-size: 12px; 
        }
        .nav_content  li{
            padding: 30px 0;
            margin-left: 55px;
            list-style: none;
        }
        .nav_content  li:last-child{
            margin-right: 55px;
        }

        /* section hero banner image and text */
        /* section s9 footer */
        .col_1 .col_1_content a{
        font-size: 10px;

        }

        .class_footer .column{
            margin: 60px 0 ;
            /* display: flex;
            justify-content: space-between; */
        }
        .col_1 img{
        padding-bottom: 34px;
         }
        
        .col_4 p {
            font-size: 13px;
        }
        .col_2 ,.col_3,.col_4 h2{
            font-size: 14px;
        }
        .col_2 a,.col_3 a,.col_3 p{
            font-size: 14px;
        }
        .column h2{
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 30px;
        }
        .col_3{
            padding-left: 90px;
            grid-column: 3/6;
        }
         
        /* section footer end */
    }
    @media screen and (max-width:768px){
        /* section navigation bar */
        .nav_bar{
            max-width: 100%;
            margin: 0 auto;
            
        }
       
        .nav_content ul{
            font-size: 10px; 
            padding-left: 0px;
        }
        .nav_content .na_item{
            display: none;
        }
        /* section s9 footer */
        .col_1 .col_1_content a{
            font-size: 16px;

        }
        .col_1_content{
            padding: 34px 0 46px 0;
        }
        .class_footer .column{
            margin: 60px 0 ;
        }
        .col_1 img{
        padding-bottom: 0px;
         }
        .col_3{
        grid-column: 2/5;
        padding-bottom: 20px;
        }
        .col_1 ,.col_2 , .col_4{
         grid-column: 1/2;
                
         } 
         .col_2 a,.col_3 a ,.col_3 p{
            font-size: 14px;
        }
        
        .col_4 p {
            font-size: 13px;
        }
        .col_2 ,.col_3,.col_4 h2{
            font-size: 12px;
        }
        .column h2{
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 30px;
        }
          /*section s9 footer end  */

          /* section mini footer  */
          .mini_footer_mail{
            padding-bottom: 20px;
          }
        /* section mini footer */
    }
    @media screen and (max-width:520px){
        .header_items{
            font-size: 12px;
        }
        .header_items .rg_btn ,.txt{
            padding: 6px 3px;
        }
        .nav_content li img{
            max-width: 109px;
            margin-right: 10px;
        }
        .col_1_content a{
            line-height: 2;
        }
        .class_s7 h3{ 
            padding: 60px 16px;
        }
        .col_2 a, .col_3 a, .col_4 p, .col_2, .col_3, .col_4 h2 {
            font-size: 14px;
        }
        .mail_policy{
            flex-direction: column;
            align-items: center;
        }
        .col_3{
            padding-left: 0px;
        }
        
    }
    @media screen and (max-width:375px) {
        .header_items{
         font-size: 10px;
     
        } 
        .header_items .rg_btn ,.txt{
         font-size: 10px;
        }
        .col_2 a, .col_3 a, .col_4 p, .col_2, .col_3, .col_4 h2 {
         font-size: 14px;
         grid-column: 1/4;
     }
     .col_3{
        padding-left: 0px;
     }
     }