


/* start navigation bar section */

.nav_content .mobile_logo{
    display: none;
}

/*  section navigation bar */

/* section pop up date nights text */
.pop-up-date_text{
background: #7692FF;

}
.class_pop{
    font-weight: 800 !important;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:  center;
    color: #F6F8F3;
    padding: 45px 0;
}
/* section pop up date nights text end */

/* section connect daily date weekly  */
.connect_daily{
    background: #F6F8F3;
}

.date_weekly{
    display: none;
}

.date_wrapper{
    padding: 97px 0 27px 0;
    display: flex;
    width: 100%;
   
}
.text_left,.image_right{
    width: 50%;
    
}
.image_right img{
   
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.text_left{
    
    padding-right: 130px;
}
.text_left h3{
   max-width: 370px;
    font-weight: 800;
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 17px;
    color: #E85F5C;
}
.text_left p{
    margin-bottom:20px ;
    font-family: 'Hind';
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
}
.text_left a{
    width: 223px;
    display: block;
    background: #E85F5C;
    border: 1px solid #E8735C;
    text-decoration: none;
    text-align: center;
    color: #F6F8F3;
    padding: 17px 0;
}
.text_left a:hover{
    background: transparent;
    color: #7692FF;
    border: 1px solid #7692FF;
}
/* section connect daily date weekly end */

/* section six image boxes */

.six-img_boxes{
    background: #F6F8F3;
}
.image_boxes img{
    width: 100%;
}
.image_boxes{
    padding: 33px 0;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    row-gap: 64px;
    column-gap: 80px;
}
/* section six image boxes end */

/* section three svg images with text */
.three-svg_image{
    background: #F6F8F3;
}
.class_svg{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 115px;
    padding: 51px 0 33px 0;
}
.class_svg h5{
    padding-bottom: 21px;
    font-size: 18px;
    line-height: 24px;

    color: #7692FF;

}
.class_svg p{
    font-family: 'Hind';
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    padding-bottom: 20px;
}
.class_svg img{
    padding-bottom: 21px;
    max-width: 56px;
    min-height: 56px;
}

/* section three svg images with text end */

/* section explore text */
.section_explore{
    background: #F6F8F3;
    padding: 48px 0;
}
.class_explore{
    width: 100%;
    background: #7692FF;
    padding: 62px 0;
    
}
.section_explore .container1{
    max-width: 1196px;
    margin: 0 auto;
    padding: 0 20px;
}

.class_explore .register_today{
    border-bottom: 2px solid #F6F8F3;
    cursor: pointer;
}
.class_explore h3{
    
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: 2;
    color: #F6F8F3;
}
.class_explore .register_today:hover{
    border-bottom: none;
}

/* section explore text end */





/* start media query  */

/* media query for  */
@media screen and (max-width:980px) {

    
    /* section connect daily date weekly */

    .date_wrapper{
        padding-top: 40px;
        flex-direction: column;
    }
    .text_left{
        width: 100%;
        padding-right: 0;
    }
    .text_left h3{
        max-width: 530px;
    }
    .date_weekly{
        display:block;
        width: 100%;
        padding-bottom: 20px;
    }
    .image_right{
        width: 100%;
        display: none;
    }
    .text_left a{
        width: auto;
        margin:30px 0 40px 0 ;
    }
    /* section connect daily date weekly end */

    /* section six image boxes */
    .image_boxes{
        grid-template-columns: repeat(2,1fr);
        padding: 0;
        gap: 9px;
    }
  

}
@media screen and (max-width:768px) {
    /* section header */
    .header_items.text{
        display: none;
    }
    /* section navigation bar */
    
    .nav_content .mobile_logo{
        display: block;
        max-width: 146px;
        min-height: 41px;
    }
    .nav_content .desktop_logo{
        display: none;
    }
    
    .text_left h3{
        max-width: 285px;
        font-size: 36px;
    }
    .section_explore .container1{
        max-width: 1440px;
        padding: 0;
        margin: 0;
    }
    /* section navigation bar end */
   

    /* section three svg images and text */
    .class_svg{
        width: 100%;
        grid-template-columns: 1fr;
    }

    /* section three svg images and text end */
      .section_explore{
        padding: 11px 0;
      }
    

}

@media screen and (max-width:520px){
   

    .class_pop{
        font-size: 35px;
        max-width: 349px;
        margin: 0 auto;
        height: 38px;
        padding: 40px 20px;
    }

    .class_explore h3{
        width: auto;
        margin: 0 auto;
    }
   
   
}

